@keyframes underline-effect {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}


@keyframes underline-effect2 {
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}